.navbar {
	padding-top: 8px;
	padding-bottom: 8px;
}

form {
	margin-top: 5px;
}

.form-group {
	margin-bottom: 5px;
}

.clearDiv {
	clear: both;
}

.errorDiv {
	color: red;
}

.centerText {
	text-align: center;
}

div.inline > h2, a, btn { display: inline; }

.btn-table {
    margin-right: 4px;
}

#subproject-edit-header { padding-left: 0px; }