<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load dajaxice_templatetags %}
<head>
	<title>GTD Manager</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'gtdmanager/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'gtdmanager/css/main.css'%}" rel="stylesheet">
	<script src="{% static 'gtdmanager/js/gtdforms.js'%}"></script>
	{% dajaxice_js_import %}
</head>
	
<body>
	
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav nav-pills">
			  <li id="navbtn-inbox"><a href="{% url 'gtdmanager:inbox' %}">Inbox</a></li>
			  <li id="navbtn-next"><a href="{% url 'gtdmanager:next' %}">Next</a></li>
			  <li id="navbtn-projects"><a href="{% url 'gtdmanager:projects' %}">Projects</a></li>
			  <li id="navbtn-pending" class="dropdown">
			  	<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">
			  		Pending<span class="caret"></span>
			  	</a>			    
			    <ul class="dropdown-menu">
			      <li><a href="{% url 'gtdmanager:waiting' %}">Waiting for</a></li>
			      <li><a href="{% url 'gtdmanager:tickler' %}">Tickler</a></li>
			      <li><a href="{% url 'gtdmanager:someday' %}">Someday/Maybe</a></li>
			      <li><a href="{% url 'gtdmanager:references' %}">References</a></li>
			    </ul>
			  </li>
			  
			  <li id="navbtn-manage" class="dropdown">
			  	<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">
			  		Manage<span class="caret"></span>
			  	</a>
			  	<ul class="dropdown-menu">
			  		<li><a href="{% url 'gtdmanager:contexts' %}">Contexts</a></li>
			  		<li><a href="{% url 'gtdmanager:archive' %}">Archive</a></li>
			  	</ul>
			  </li>
			</ul>
		</nav>
		
		{% block body %}
		{% endblock %}
	</div>
	
	<div id="itemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
      <div class="modal-content">
    	<div class="modal-header">
      	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      	  <h3 id="itemModalLabel">Edit Item</h3>
    	</div>
	    <div id='itemModalContent' class="modal-body"></div>
	    </div>
	  </div>
	</div>

	<script src="{% static 'gtdmanager/jquery/jquery-2.0.3.min.js'%}"></script>
	<script src="{% static 'gtdmanager/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'gtdmanager/bootstrap/js/bootstrap-hover-dropdown.min.js'%}"></script>
	<script>
		$('#navbtn-{{ btnName }}').addClass('active')
		{% block finish_scripts%}
		{% endblock %}
	</script>
</body>
</html>