{% extends 'gtdmanager/inbox.html' %}
{% load crispy_forms_tags %}

{% block edit_modal %}
<div id="itemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
	<div class="modal-dialog">
      <div class="modal-content">
    	<div class="modal-header">
      	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      	  <h3 id="itemModalLabel">Edit Item</h3>
    	</div>
  
	    <div class="modal-body">
	      {% crispy itemform %}
	    </div>
	  </div>
	</div>
</div>
{% endblock %}