{% extends 'gtdmanager/base.html' %}

{% block body %}
<p>
<button type="button" class="btn btn-primary"
    onclick="Dajaxice.gtdmanager.item_create(display_form.bind(this, 'Create inbox item'))">
		New inbox item
</button>
</p>

<div class="col-xs-10">
	<table class="table table-condensed table-striped">
		<thead><tr>
			<th class="col-xs-2">Project</th>
			<th class="col-xs-3">Task</th>
			<th class="col-xs-5">Action</th>
		</tr></thead>
		{% for item in items %}
		<tr>
			<td>{% if item.parent != None %}
				<a href="{% url 'gtdmanager:project_detail' item.parent.id %}">[ {{item.parent}} ]</a>
				{% endif %}
			</td>
			<td><a href="#" onclick="Dajaxice.gtdmanager.item_get_form(display_form.bind(this, 'Edit item'), {'item_id':{{item.id}}})">{{item.name}}</a></td>
			<td>
				<a href="{% url 'gtdmanager:item_delete' item.id 'inbox'%}" class="btn btn-danger btn-sm">X</a>
				<a href="{% url 'gtdmanager:item_reference' item.id %}" class="btn btn-primary btn-sm">Ref</a>
				<a href="{% url 'gtdmanager:item_to_project' item.id %}" class="btn btn-primary btn-sm">Project</a>
				<a href="{% url 'gtdmanager:item_someday' item.id %}" class="btn btn-primary btn-sm">Someday</a>
				<a href="{% url 'gtdmanager:item_wait' item.id %}" class="btn btn-primary btn-sm">Wait</a>
				<a href="{% url 'gtdmanager:item_complete' item.id 'inbox'%}" class="btn btn-success btn-sm">Done</a>
				<a href="{% url 'gtdmanager:reminder_edit' item.id 'inbox' %}" class="btn btn-primary btn-sm">Remind</a>
				<a href="{% url 'gtdmanager:next_edit' item.id 'inbox' %}" class="btn btn-primary btn-sm">Next</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}