{% extends 'gtdmanager/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="col-xs-4">
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addFormDiv">
		  Add new inbox item
	</button>
	<div id="addFormDiv" class="collapse {% if show_form %} in {% endif %}">
		{% crispy itemform %}
	</div>
</div>
<div class="clearDiv"></div>
<br>

<div class="col-xs-10">
	<table class="table table-condensed table-striped">
		<thead><tr>
			<th class="col-xs-2">Project</th>
			<th class="col-xs-3">Task</th>
			<th class="col-xs-5">Action</th>
		</tr></thead>
		{% for item in items %}
		<tr>
			<td>{% if item.parent != None %}
				<a href="{% url 'gtdmanager:project_detail' item.parent.id %}">[ {{item.parent}} ]</a>
				{% endif %}
			</td>
			<td><a href="">{{item.name}}</a></td>
			<td>
				<a href="#" class="btn btn-danger btn-sm disabled">X</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Ref</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Project</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Someday</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Wait</a>
				<a href="#" class="btn btn-success btn-sm disabled">Done</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Remind</a>
				<a href="#" class="btn btn-primary btn-sm disabled">Next</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}