{% extends 'gtdmanager/base.html' %}

{% block body %}
<h1>Next</h1>
{% if reminders %}
<h3>Reminders</h3>
<div class="col-xs-8">
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th class="col-xs-2">Project</th>
				<th class="col-xs-3">Name</th>
				<th class="col-xs-2">Context</th>
				<th class="col-xs-1">Action</th>
			</tr>
		</thead>
		{% for reminder in reminders %}
		<tr>
			<td>{% if reminder.parent != None %}
				<a href="{% url 'gtdmanager:project_detail' reminder.parent.id %}">[ {{reminder.parent}} ]</a>
				{% endif %}
			</td>
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.reminder_get_form(display_form.bind(this, 'Edit reminder'), {'item_id':{{reminder.id}}})">
					{{reminder.name}}</a>
			</td>
			<td>
				{% for context in reminder.contexts.all %}
					{{context}}
				{% endfor %}
			</td>
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{reminder.id}}})"
					class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{reminder.id}}})"
				   class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="clearDiv"></div>
{% endif %}

{% if nexts %}
<h3>Next actions</h3>
<div class="col-xs-8">
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th class="col-xs-2">Project</th>
				<th class="col-xs-2">Name</th>
				<th class="col-xs-2">Context</th>
				<th class="col-xs-2">Action</th>
			</tr>
		</thead>
		{% for item in nexts %}
		<tr>
			<td>{% if item.parent != None %}
				<a href="{% url 'gtdmanager:project_detail' item.parent.id %}">[ {{item.parent}} ]</a>
				{% endif %}
			</td>
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.next_get_form(display_form.bind(this, 'Edit next'), {'item_id':{{item.id}}})">
					{{item.name}}</a>
			</td>
			<td>
				{% for context in item.contexts.all %}
					{{context}}
				{% endfor %}
			</td>
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
{% endblock %}
