{% extends 'gtdmanager/base.html' %}

{% block body %}
<div class="col-xs-8">

<div class="inline">
<h2>Project {{ p.name }}</h2>
<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.project_get_form(display_form.bind(this, 'Edit project'), {'item_id':{{p.id}}})">
	(edit)</a>

<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.project_complete(complete_callback, {'item_id':{{p.id}}})"
	class="btn btn-button btn-success pull-right">Complete</a>

<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.project_delete(delete_callback, {'item_id':{{p.id}}})"
	class="btn btn-button btn-danger pull-right">Delete</a>
</div>

{% if p.parent %}
	Parent: <a href="{% url 'gtdmanager:project_detail' p.parent.id %}">{{p.parent.name}}</a><br>
{% endif %}

{% if subprojects %}
	<h3>Subprojects</h3>
	<table class="table table-condensed table-striped">
	{% for project in subprojects %}
	  <tr>
		<td>
			<a href="{% url 'gtdmanager:project_detail' project.id %}">{{project.name}}</a>
			({{project.active_childs|length}} active, {{project.item_set.count}} total)
			<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.project_delete(delete_callback, {'item_id':{{project.id}}})"
			   class="btn btn-danger pull-right btn-sm">X</a>
			<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.project_complete(complete_callback, {'item_id':{{project.id}}})"
			   class="btn btn-success pull-right btn-sm">Done</a>
		</td>
	  </tr>
	{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if nexts %}
	<h3>Nexts</h3>
	<table class="table table-condensed table-striped">
		{% for next in nexts %}
		    <tr>
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.next_get_form(display_form.bind(this, 'Edit next'), {'item_id':{{next.id}}})">
					{{next.name}}</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{next.id}}})"
				   class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{next.id}}})"
				   class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		    </tr>
		{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if waiting %}
	<h3>Waiting for</h3>
	<table class="table table-condensed table-striped">
		<tr>{% for item in waiting %}
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_get_form(display_form.bind(this, 'Edit item'), {'item_id':{{item.id}}})">
					{{item.name}}</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		</tr>{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if reminders %}
	<h3>Reminders</h3>
	<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th class="col-xs-5"></th>
			<th class="col-xs-2 centerText"></th>
			<th class="col-xs-1 centerText"></th>
		</tr>
	</thead>
	{% for item in reminders %}
	<tr>
		<td>
			<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.reminder_get_form(display_form.bind(this, 'Edit reminder'), {'item_id':{{item.id}}})">
				{{item.name}}</a>
		</td>
		<td class="centerText">
			{{item.remind_at|date:"d.m.Y"}}
		</td>
		<td>
			<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{item.id}}})"
			   class="btn btn-danger pull-right btn-sm">X</a>
			<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{item.id}}})"
			   class="btn btn-success pull-right btn-sm">Done</a>
		</td>
	</tr>
	{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if somedays %}
	<h3>Someday/Maybe</h3>
	<table class="table table-condensed table-striped">
		<tr>{% for item in somedays %}
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_get_form(display_form.bind(this, 'Edit item'), {'item_id':{{item.id}}})">
					{{item.name}}</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{item.id}}})"
					class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		</tr>{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if references %}
	<h3>References</h3>
	<table class="table table-condensed table-striped">
		<tr>{% for item in references %}
			<td>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_get_form(display_form.bind(this, 'Edit item'), {'item_id':{{item.id}}})">
					{{item.name}}</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_delete(delete_callback, {'item_id':{{item.id}}})"
					class="btn btn-danger pull-right btn-sm">X</a>
				<a href="javascript:void(0);" onclick="Dajaxice.gtdmanager.item_complete(complete_callback, {'item_id':{{item.id}}})"
				   class="btn btn-success pull-right btn-sm">Done</a>
			</td>
		</tr>{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if completed %}
	<h3>Completed</h3>
	<table class="table table-condensed table-striped">
		<tr>{% for item in completed %}
			<td>{{item.name}}</td>
		</tr>{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

{% if deleted %}
	<h3>Deleted</h3>
	<table class="table table-condensed table-striped">
		<tr>{% for item in deleted %}
			<td>{{item.name}}</td>
		</tr>{% endfor %}
	</table>
	<div class="clearDiv"></div>
{% endif %}

</div>
{% endblock %}
